<!DOCTYPE html>
<html>

<head>
    <title>ConditionalRender</title>
    <!-- directly using vue.js -->
    <!-- for production version, use vue.min.js -->
    <!-- we shall use development version, includes helpful console warnings -->
    <!-- <script src="vue.js"></script> -->

    <!-- using CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>Please select your login option</h1>
        <!-- Add/modify code in the following to have a dropdown list 
        which lets the user to select either to login with username or email -->
        <select v-model="loginType">
            <option value='username' selected>Username login</option>
            <option value='email'>Email login</option>
        </select>
        <div v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username">
        </div>
        <div v-else>
            <label>Email</label>
            <input placeholder="Enter your email">
        </div>
    </div>
    <script>
        // add code here
        // <div id='app'></div>
        const app = Vue.createApp({
            data() {
                return {
                    // key: value
                    loginType: 'username', // 'username' or 'email'
                };
            }, // data
            // computed: { 
            //     derivedProperty() {
            //         return false;
            //     }  
            // }, // computed
            // created() { 
            // },
            // mounted() { 
            // },
            methods: {
                methodName() {

                }
            } // methods
        });
        const vm = app.mount('#app'); 
    </script>

</body>

</html>